* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}   
#container{
    margin: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 2rem;
}
#container div {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#container div input {
    display: block;
}

#acciones{
    flex-direction: row !important;
    flex-wrap: wrap;
    column-gap: 40%;
}
#acciones input {
    width: 200px;
    padding: 1rem;
    flex-grow: 1;
}
