* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#container{
    margin: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container_sections{
    display: flex;
    flex-direction: column;
    width: 40%;
    row-gap: 1rem;
}
.container_sections input{
    display: block;
}
#acciones{
    display: flex;
    flex-direction: row !important;
    row-gap: 1rem;
    flex-wrap: wrap;
    column-gap: 40%;
}
#acciones input {
    width: 200px;
    flex-grow: 1;
}
#container_table {
    width: 100%;
    display: flex;
    justify-content: center;
}
table {
    border-collapse: collapse;
    width: 80%;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
}
th, td {
    padding: 15px;
}

